.footer {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  background-color: $brand-color6;
  background-image: url(/static/img/crab-arm.svg);
  background-position: left bottom 160px;
  background-repeat: no-repeat;
  background-size: 80px 80px;

  p,
  a,
  small {
    color: $white;
  }

  a,
  svg,
  path,
  polygon,
  rect,
  g {
    transition: all 400ms ease;
  }

  .legal {
    display: block;
  }

  > * {
    position: relative;
    z-index: 3;
  }

  &:before {
    position: absolute;
    top: -8vw;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 240px;
    background-image: url(/static/img/footer-curve.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
  }
}

.footer-logo {
  display: block;
  margin: 0 auto 1.5em;
  width: 140px;

  svg {
    max-width: 100%;
    height: auto;
  }

  path {
    fill: $white;
  }
}

.footer-nav {
  margin: 0;
  padding: 0;

  font-size: rem-calc(24);
  font-weight: bold;
  list-style: none;

  a {
    display: block;
    padding: 0.25em 0.5em;
    color: $white;
  }

  @include breakpoint(medium) {
    text-align: center;

    li {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.footer .social-icons {
  text-align: center;
}
