.job-photo {
  margin: 0 auto;
  display: block !important;

  &:first-child {
    margin-bottom: $global-margin * 2;
  }
}

@include breakpoint(medium) {
  .job-photo {
    margin-left: -3rem;
    width: calc(100% + 6rem);
    max-width: none;
    max-height: calc(20% + 6rem);
  }
}
