.job-photo {
  margin: 0 auto;
  display: block !important;
  max-height: calc(20% + 6rem);
  min-width: calc(30% + 6rem);

  &:first-child {
    margin-bottom: $global-margin * 2;
  }
}

@include breakpoint(medium) {
  .job-photo {
    max-width: calc(100% + 6rem);
  }
}
