// headroom is the plugin used to pin the navbar to the top.
// it adds classes with JS, and those classes are used here.
// Documentation here: http://wicky.nillia.ms/headroom.js/

// title bar text overrides
.title-bar .menu a {
  text-decoration: none;
  color: $white;
}

.title-bar .menu {
  // Trick Safari into hardware acceleration
  transform: translate3d(0,0,0);
}

.title-bar .menu .menu {
  position: absolute;
}

.off-canvas .menu a {
  color: $white;
}

.off-canvas .menu li,
.dropdown .menu li {
  margin-bottom: 0;
}

.title-bar .menu > li > a {
  font-weight: $global-weight-semibold;
}

.title-bar .button.hollow {
  padding: .65rem 1rem;
  font-size: .85rem;

  small {
    font-size: .65rem;
  }
}

.off-canvas .menu .button.hollow {
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid $white;
  color: $white;

  &:before {
    display: none;
  }
}

.menu .menu { // subnav menu, with the headroom class added so it doesn't change
  text-align: left;
}

.headroom--top .menu .navbar-button,
.navbar-button {
  text-align: center;

  small {
    font-size: rem-calc(16);
  }
}

.headroom .menu .menu a {
  font-size: rem-calc(18);
  color: $white;
}

.title-bar {
  .logo {
    display: block;
    margin: 10px 0 -20px 10px;
    width: 160px;
    height: auto; // for IE
  }

  .menu > li > a {
    padding: .6rem;
    font-size: .8rem;
  }
}

// change appearance on scroll.
.headroom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  transition: all 200ms ease;
  will-change: transform;

  &,
  .hamburger {
    height: 80px;
  }
}

.drilldown .is-drilldown-submenu {
  background: $brand-color2; // Fix overlap issue
}

// tightening drop-down arrows on navigaiton parent elements
.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 1.1rem;
}

@include breakpoint(smedium down) {
  .is-dropdown-submenu-parent {
    position: static; // fixing drilldown
  }
}

@include breakpoint(large) {
  .headroom {
    position: relative !important;
    height: 120px;
  }

  .title-bar {
    .logo {
      margin-top: $global-margin;
      margin-left: $global-margin;
      width: 170px;
      height: 100%;
    }

    .menu > li > a {
      font-size: .9rem;
    }
  }

  .title-bar-right {
    padding: 1rem 1rem 0;
  }
}

@include breakpoint(xlarge) {
  .title-bar {
    padding-bottom: .5rem;

    .menu > li > a {
      padding: 1rem;
    }

    .logo {
      width: 200px;
      height: 100%;
    }
  }
}
