---
heading: 2021 DjangoCon US Recap
layout: base
permalink: /
published: true
sitemap: true
title: 2021 DjangoCon US Recap
---

<header class="subpage-header recap-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content">

  <div class="section-pad theme-light-gray recap-intro">
    <div class="row column">
      <h2 class="demp recap-heading">
        This year's US conference is a wrap! Thanks for another amazing year!
      </h2>
    </div>

    <div class="row">
      <div class="column medium-7">
        <img
          src="https://storage.caktusgroup.com/media/blog-images/djangocon_blog.png"
          alt="The crowd of DjangoCon 2021 attendees"/>
      </div>

      <div class="column medium-5">
        <p class="lead">
          DjangoCon US 2021 was held virtually and hosted hundreds of attendees from all over the world!
        </p>

        {% comment %}
        <p>Supportive copy speaking to the line up or topics discussed, generally setting the mood for a successful
          event. Basically the primary takeaway.</p>
        {% endcomment %}

        <p><strong>Fond memory from 2021?</strong> Share it with us:</p>

        <!-- TODO: Icons are white and don't have sufficient contrast on screen -->
        <ul class="social-icons highlight">
          <li>
            <a class="twitter" href="https://twitter.com/djangocon">
              <svg class="social-icon">
                <title>Twitter</title>
                <use xlink:href="#twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="github" href="https://github.com/djangocon/">
              <svg class="social-icon">
                <title>Github</title>
                <use xlink:href="#github-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/djangoconus/">
              <svg class="social-icon">
                <title>Facebook</title>
                <use xlink:href="#facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="section-pad">
    <div class="row">
      <div class="column small-12 medium-8">
        <p>From tutorials on building mobile applications and rapid prototyping to talks about data visualization and
          accessibility, 2021 was DjangoCon US's best year ever!</p>
        <!-- TODO: Add some accessibility highlights -->

        <p>This was an innovative year for DjangoCon US! Every year, DjangoCon US works hard to make our program
          better and more accessible, and this year we're super proud of the features we were able to add:</p>
        <ul>
          <li><strong>Bilingual talks</strong>: for the first time, all talks were available with both Spaniish
            and English subtitles.
          </li>
          <li><strong>Chat</strong>: We had a virtual conference hall in SpatialChat where people could congregate,
            listen to a live session from our awesome DJ Rana Ransom, and more.
          </li>
          {% comment %}
          <li><strong>Deep Dive Day</strong>, a single-track conference day dedicated to talks that go into more
            detail on Django topics
          </li>
          <li>Accessibility wins: In addition to subsidized child care and captioned conference videos, this year we
            had a <strong>dedicated lactation room</strong> and <strong>live captioning</strong> for all talks
          </li>
          <li><strong>Travel stipends</strong> for all speakers</li>
          {% endcomment %}
        </ul>
        

        <p>Thanks to our generous sponsors, who helped make these conference dreams a reality.</p>
      </div>

      <div class="column hide-for-mobile medium-4 text-center">
        {% comment %}
        <!-- TODO: need another image (something to do with it being virtual?) -->
        Main graphic/icon for the year. e.g. for 2018, the crab. 2021, the boat.
        <img
          src="/static/img/sail-circle.svg"
          alt="A little boat"
          width="360"/>
        {% endcomment %}
      </div>
    </div>
  </div>

{% assign total_presentations = site.schedule | where:"category", "talk" %}

  <div class="section-pad highlight-events theme-medium-gray">
    <div class="row">
      <div class="column">
        <div class="events">
        <header style="padding-left: 1em" class="highlight-events-header">
          <h2>Awesome Talks</h2>
          <p class="lead">We featured over <strong>{{ total_presentations.size }}</strong> talks this year. Here are some crowd
            favorites!</p>
          <a href="/schedule/" class="button">See the full schedule</a>
        </header>
        {% for post in site.schedule %}
        {% if post.featured %}
        {% if post.permalink and post.room != 'filler' %}
        <article class="event loc-main">
          {% unless post.room == 'filler' %}
          {% if post.permalink %}
          <a href="{{ post.permalink }}" class="event-content">
            {% endif %}

            {% if post.title %}
            <h3 class="event-title">{{ post.title }}</h3>
            {% endif %}

            {% if post.presenter_slugs %}
            {% for presenter_slug in post.presenter_slugs %}
            {% assign presenter = site.presenters | where: "slug", presenter_slug | first %}
            <p class="mini-profile-byline">
              {% if presenter.photo_url != blank %}
              <img
                class="avatar"
                src="{{ presenter.photo_url }}"
                alt="Photo of {{ presenter.name }}"/>
              {% endif %}
              {{ presenter.name }}
            </p>
            {% endfor %}
            {% endif %}

            {% if post.permalink %}
          </a>
          {% endif %}
          {% endunless %}
        </article>
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="section-pad mini-profile-block theme-brand-color5">
    <div class="row">
      <div class="column">
        <h2 class="recap-heading">{{ "Our Presenters are :sparkles: Amazing :sparkles:" | markdownify | remove: '<p>' |
      remove: '</p>' }}
        </h2>
      </div>
    </div>


    <section class="row mini-profile">
      {% for presenter in site.presenters %}
      {% unless presenter.hidden %}
      {% if presenter.name %}
      <a
        href="{{ presenter.permalink }}"
        class="mini-profile-byline column small-6 medium-4">
        {% if presenter.photo_url != blank %}
        <img
          class="avatar"
          src="{{ presenter.photo_url }}"
          alt="Photo of {{ presenter.name }}"/>
        {% endif %}
        {{ presenter.name }}
      </a>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </section>

  </div>

  {% include sponsor-footer.html %}

  <div class="section-pad theme-light-gray">
    <div class="row">
      <div class="column small-12 medium-5">
        <h2>{{ ":chart_with_upwards_trend: 2021 By the Numbers" | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
        <p class="lead">2021 was an amazing year for attendance, sponsorship, talks, really everything that goes into
          making a conference great.</p>
        {% comment %}
        <p>The buzz we heard on Twitter was that it was a lot of people's favorite DjangoCon US ever!</p>
        {% endcomment %}
      </div>

      <div class="column hide-for-mobile medium-6">
        <div class="table-scroll">
          <table class="unstriped stacked">
            <thead>
            <tr>
              <th>What?</th>
              <th>Tell me about it.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Attendees</td>
              <td>~2000</td>
            </tr>
            <tr>
              <td>Talks</td>
              <td>{{ total_presentations.size }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% comment %}
    <div class="row">
      <div class="column small-12 medium-6">
        <h3>And remember...</h3>
        <p>Under the hood it's all just a grid system. So you can just add a new row if you want to associate more
          text with this block. Easy peasy, lemon squeezy.</p>
      </div>
    </div>
    {% endcomment %}
  </div>

  {% comment %}
  <div class="photos-block">
    <header class="photos-block-header theme-brand-color4">
      <h2>Picture Perfect</h2>
      <p>We captured so many Kodak moments over the week! Thanks to <a href="http://bartpawlik.com/">Bartek Pawlik</a>
        for being our official conference photographer and saving these memories for us.</p>
      <a href="https://flickr.com/photos/djangocon/albums/72157711339647298" class="button theme-brand-color3">View
        all photos</a>
    </header>

    {% for photo in site.data.photos.photos %}
    <div
      class="photo"
      style="background-image: url({{ photo.image }})">
      <img
        src="{{ photo.image }}"
        alt="{{ photo.title }}"/>
    </div>
    {% endfor %}
  </div>
  {% endcomment %}

  <div class="section-pad organizer-block theme-brand-color4">
    <div class="row">
      <header class="organizer-block-header recap-heading">
        <h2>{{ "DjangoCon 2021 was possible through lots of :heart:" | markdownify | remove: '<p>' | remove: '</p>' }}
        </h2>
        <p class="lead">Our organizers put hundreds of hours of heart and soul into this conference. We couldn't do it
          without each and every one of you!</p>
      </header>
    </div>
    <div class="row small-up-1 smedium-up-2 medium-up-3 large-up-4 organizers">
      {% for organizer in site.organizers %}
      {% unless organizer.hidden %}
      <div
        class="column column-block">
        <div class="profile">
          <img
            class="thumbnail"
            src="{{ organizer.photo_url }}"
            alt="Photo of {{ organizer.name }}"/>
          <div class="profile-namecard">
            <h3 class="profile-name">
              {{ organizer.name }}
              {% if organizer.pronouns != blank %}
              ({{ organizer.pronouns }})
              {% endif %}
            </h3>
            {{ organizer.role }}
          </div>
          <ul class="social-icons">
            {% if organizer.twitter != blank %}
            <li>
              <a class="twitter" href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                <svg class="twitter-icon">
                  <use xlink:href="#twitter-icon"></use>
                </svg>
              </a>
            </li>
            {% endif %}
            {% if organizer.github != blank %}
            <li>
              <a class="github" href="https://github.com/{{ organizer.github }}/" target="_blank">
                <svg class="social-icon">
                  <use xlink:href="#github-icon"></use>
                </svg>
              </a>
            </li>
            {% endif %}
            {% if organizer.website != blank %}
            <li>
              <a class="web" href="{{ organizer.website }}" target="_blank">
                <svg class="social-icon">
                  <use xlink:href="#web-icon"></use>
                </svg>
              </a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.profile -->
      </div><!--/.column -->
      {% endunless %}
      {% endfor %}
    </div>
  </div>

</div> <!-- End .content -->
