---
description: 'DjangoCon US Sponsors are hiring! Check out our job board to see the
  job postings.

  '
heading: Jobs Board
hero_text_align: center
hero_theme: brand-color1
layout: base
permalink: /jobs/
published: true
testimonial_img: /static/img/about.jpg
testimonial_img_mobile: /static/img/about-mobile.jpg
title: Jobs Board
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
  <div class="row column">
    <p class="lead">DjangoCon US sponsors are hiring! Want to see your job posted here next year? <a href="mailto:{{site.sponsors_email}}">Contact us</a> about becoming a sponsor for DjangoCon US 2021 and recruit the best talent for your organization.</p>
  </div>
</header>

<div class="content">
  <section class="section-pad theme-light-gray">
    <div class="row small-up-1 smedium-up-2 medium-up-2 large-up-2">

      {% for job in site.jobs %}
        {% unless job.hidden %}

          <div class="medium-6 column">
            <div class="card card-theme-brand-color2">
              <div class="card-section">
                <h3 class="card-title" id="program">{{ job.name }}</h3>
                <p>{{ job.content | truncatewords: 40 | markdownify }}</p>
                <div class="row column">
                  <div class="medium-6 column">
                    <a href="{{ job.website }}" class="button">{% if job.website_text %}{{ job.website_text }}{% else %}More information{% endif %}</a>
                  </div>
                  <div class="medium-6 column">
                    <a href="{{ job.url }}" class="button">More information</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </section>
  <section class="section-pad theme-light-gray">
    <div class="row small-up-1 smedium-up-2 medium-up-2 large-up-2">
      <!-- footer will overlap last row of job post buttons without spacer -->
    </div>
  </section>
</div><!-- end .content -->
