---
layout: default
title: Full Conference Schedule
permalink: /schedule/
description: DjangoCon US 2019 Full Conference Schedule
heading: Full Conference Schedule
sitemap: true
---

<nav class="schedule-nav">
  <span
    class="schedule-nav-title">Jump to:</span>

  <ul
    class="schedule-nav-list"
    id="ScheduleNav">
    <li><a href="#Day-Tutorials">Tutorials</a></li>
    <li><a href="#Day-Talk1">Talks: Day 1</a></li>
    <li><a href="#Day-Talk2">Talks: Day 2</a></li>
    <li><a href="#Day-Talk3">Talks: Day 3 - Deep Dives</a></li>
    <li><a href="#Day-Sprints1">Sprints: Day 1</a></li>
    <li><a href="#Day-Sprints2">Sprints: Day 2</a></li>
  </ul>
</nav>

<!-- tutorials -->
<section class="section-pad schedule" id="Day-Tutorials">
  <div class="row column">
    <h2 class="day">Tutorials: Sunday, September 22</h2>
    <p class="lead">
      Tutorials are a separate registration and are $195 per session. Buy <a href="{{ site.ticket_link }}">tutorial tickets</a> before they sell out!
    </p>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Sunday' %}
          {% include schedule-tutorials-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- tutorials -->

<!-- talks: day 1 -->
<section class="section-pad schedule" id="Day-Talk1">
  <div class="row column">
    <h2 class="day">Talks: Monday, September 23</h2>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Monday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 1 -->

<!-- talks: day 2 -->
<section class="section-pad schedule" id="Day-Talk2">
  <div class="row column">
    <h2 class="day">Talks: Tuesday, September 24</h2>
    {% comment %}
    <p class="lead">
      Tutorials are a separate registration and are TBD per session. Buy tutorial tickets before they sell out!
    </p>
    {% endcomment %}
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Tuesday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 2 -->

<!-- talks: day 3 -->
<section class="section-pad schedule" id="Day-Talk3">
  <div class="row column">
    <h2 class="day">Talks - Deep Dives: Wednesday, September 25</h2>
    {% comment %}
    <p class="lead">
      Tutorials are a separate registration and are TBD per session. Buy tutorial tickets before they sell out!
    </p>
    {% endcomment %}
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Wednesday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 3 -->

<!-- sprints: day 1 -->
<section class="section-pad schedule" id="Day-Sprints1">
  <div class="row column">
    <h2 class="day">Sprints: Thursday, September 26</h2>
    {% comment %}
    <p class="lead">
      Tutorials are a separate registration and are TBD per session. Buy tutorial tickets before they sell out!
    </p>
    {% endcomment %}
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Thursday' %}
          {% include schedule-sprints-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- sprints: day 1 -->

<!-- sprints: day 2 -->
<section class="section-pad schedule" id="Day-Sprints2">
  <div class="row column">
    <h2 class="day">Sprints: Friday, September 27</h2>
    {% comment %}
    <p class="lead">
      Tutorials are a separate registration and are TBD per session. Buy tutorial tickets before they sell out!
    </p>
    {% endcomment %}
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Friday' %}
          {% include schedule-sprints-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- sprints: day 2 -->
