---
description: DjangoCon US is only possible through the support of various organizations.
heading: Sponsors
layout: base
permalink: /sponsors/
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content">
  <div class="row column v-pad-bottom">
    <div class="medium-6 large-7 column">
      <p class="lead">
        DjangoCon US is only possible through the generosity of the organizations and businesses on this page. Their donations make it possible for us to provide opportunity grants to speakers and attendees, record all talks, host sprints, and feed everyone for six days. Thank you for your support!
      </p>
    </div>
    <div class="medium-5 large-4 column">
      <div class="callout text-center partner-cta-box">
        <h2>Looking for a job?</h2>
        <p>Some of our sponsors are hiring! Take a look at our virtual jobs board to learn more.</p>
        <a href="/jobs/" class="button">Check out our jobs board</a>
      </div>
    </div>
  </div>
  <!-- PRE CONFERENCE -->
  <!--
  <div class="row column v-pad-bottom">
    <div class="row column">
      <p class="lead">
        DjangoCon US is only possible through the generosity of the organizations and businesses on this page. Their donations make it possible for us to provide opportunity grants to speakers and attendees, stream and record all talks, add captioning to talks, and so much more. Thank you for your support!
      </p>
    </div>
    {% comment %}
    <div class="medium-5 large-4 column">
      <div class="callout text-center partner-cta-box">
        <h2>Looking for a job?</h2>
        <p>Some of our sponsors are hiring! Take a look at our virtual jobs board to learn more.</p>
        <a href="" class="button disabled black">Jobs Board Coming Soon</a>
      </div>
    </div>
    {% endcomment %}
  </div>

    <div class="section-pad {% cycle 'theme-light-gray', 'theme-medium-gray', 'theme-white' %}">
  <div class="row partner text-center">
      <div class="column medium-12">
        <p>Interested in becoming a sponsor? There's still time!</p>
        <a href="/sponsors/information/" class="button">Become a Sponsor</a>
      </div>
    </div>
        </div>
-->

{% for sponsor-level in site.data.sponsor-levels.sponsor-levels %}
  {% assign sponsors_in_level = site.sponsors | where: 'level', sponsor-level.title | where: 'hidden', false %}
  {% assign sponsors_count = sponsors_in_level | size %}
  {% if sponsors_count != 0 %}
    <div class="section-pad {% cycle 'theme-light-gray', 'theme-medium-gray', 'theme-white' %}">
      <h2 class="text-center v-pad-bottom">{{ sponsor-level.title }}</h2>
      {% for sponsor in sponsors_in_level %}
        {% if sponsor.level == sponsor-level.title %}
          {% unless sponsor.hidden %}
            <div class="row partner">
              <div class="column medium-4 text-center">
                <a href="{{ sponsor.url_target }}" rel="sponsored">
                  <img
                    class="partner-logo {{ sponsor.logo_orientation }}"
                    src="{{ sponsor.logo }}"
                    alt="{{ sponsor.name }} Logo" />
                </a>
              </div>
              <div class="column medium-8">
                <h3 class="partner-name"><a href="{{ sponsor.url_target }}" rel="sponsored">{{ sponsor.name }}</a></h3>
                {% capture sponsor_description %}{{ sponsor.description }}{: .partner-description }{% endcapture %}
                {{ sponsor_description | markdownify }}
                {% if sponsor.hiring %}<a href="/jobs/" class="button">{{ sponsor.name }} is hiring!</a>{% endif %}
              </div>
            </div>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
</div>
