---
layout: default
title: Talks Schedule
permalink: /talks/
description: DjangoCon US 2021 Talks / General Sessions Schedule
heading: Talks Schedule
sitemap: true
published: true
---

<!-- talks: day 1 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Talks: Friday, October 22</h2>
    <p class="lead">
      <strong>NOTE:</strong> All talks are in US Central Daylight Time (UTC-5). The schedule is still being finalized, so times are subject to change.
    </p>
    <p class="lead">
      Registration is <a href="{{ site.ticket_link }}">free</a> this year.
    </p>

    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Friday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 1 -->

<!-- talks: day 2 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Talks: Saturday, October 23</h2>
    <p class="lead">
      <strong>NOTE:</strong> All talks are in US Central Daylight Time (UTC-5). The schedule is still being finalized, so times are subject to change.
    </p>
    <p class="lead">
      Registraton is <a href="{{ site.ticket_link }}">free</a> this year.
    </p>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Saturday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 2 -->
