.button {
  border: 4px solid $brand-color1;
  background-color: $brand-color5;

  font-weight: $global-weight-bold;
  text-decoration: none;
  color: $white;

  &:hover {
    background-color: darken($brand-color5, 15%);
  }
}

.button.hollow:hover {
  border-color: $white;
  background-color: $white;
  color: $brand-color2;
}
