.button {
  border: 4px solid $brand-color1;
  background-image: linear-gradient(110.56deg, $brand-color5 7.55%, $brand-color2 73.21%);

  font-weight: $global-weight-bold;
  text-decoration: none;
  color: $white;
}
