h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

li {
  margin-bottom: .85rem;
}

.lead {
  margin-bottom: 2.5rem;
  font-weight: $global-weight-normal;

  @include breakpoint(medium) {
    font-size: 1.3rem;
  }
}

.lead.stripes {
  margin-bottom: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
}

.lead.min {
  margin-bottom: 1.5rem;
}

.lead:last-child {
  margin-bottom: 0;
}

.demp {
  font-weight: $global-weight-normal;
}

.label {
  font-weight: $global-weight-semibold;
}

hr {
  margin-top: $global-margin * 2;
  margin-bottom: $global-margin * 2;
}

// For patching headers
.contrast-fix {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: .35em;
  background: get-color(secondary);
}

iframe,
.highlighter-rouge {
  margin-bottom: $global-margin;
}

.responsive-embed iframe {
  margin-bottom: 0;
  max-width: 100%;
}

.thumbnail-block {
  border-radius: 0;
}

.list-split {
  @include breakpoint(medium) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
      width: 45%;
    }
  }
}

.back {
  position: relative;
  z-index: -10;
  // Trick Safari into hardware acceleration
  transform: translate3d(0,0,0);
}

// Ensure we have space for anchors and the header does not cover them.
:target:before {
  display:block;
  margin: -70px 0 0; /* negative fixed header height */
  height: 70px; /* fixed header height*/
  content: "";

  @include breakpoint(medium) {
    margin-top: -110px;
    height: 110px;
  }
}

.media-object img {
  min-width: 100px;
}

.section-heading {
  margin-bottom: $global-margin * 3;
  text-align: center;
}

.callout {
  color: $callout-font-color;
}

blockquote {
  cite {
    font-size: rem-calc(14px);
    color: $body-font-color;
  }
}
