<section class="photo-hero tint-brand-color3" data-interchange="[/static/img/home-testimonial.jpg, medium]">
  <img class="hide-for-medium" src="/static/img/home-testimonial-mobile.jpg">
  <div class="row hero-content">
    <div class="column medium-6">
      <blockquote>
        <p>The talks at DjangoCon US have always been of high quality. That’s why we send our devs every year. The insights gained have helped us build better software at PonyCorp.</p>
        <cite>Rory McHenry<br>
          Director, Application Development PonyCorp
        </cite>
      </blockquote>
      <a href="#TODO" class="button hollow theme-brand-color4">Join Rory. Buy your ticket</a>
    </div>

  </div>
</section>

<section class="photo-hero tint-brand-color5" data-interchange="[/static/img/about.jpg, medium]">
  <img class="hide-for-medium" src="/static/img/about-mobile.jpg">
  <div class="row hero-content">
    <div class="column medium-8 medium-centered">
      <blockquote>
        <p>The talks at DjangoCon US have always been of high quality. That’s why we send our devs every year. The insights gained have helped us build better software at PonyCorp.</p>
        <cite>Rory McHenry<br>
          Director, Application Development PonyCorp
        </cite>
      </blockquote>
      <a href="#TODO" class="button hollow theme-brand-color8">Join Rory. Buy your ticket</a>
    </div>

  </div>
</section>

<section class="photo-hero tint-brand-color1" data-interchange="[/static/img/crowd.jpg, medium]">
  <img class="hide-for-medium" src="/static/img/crowd-mobile.jpg">
  <div class="row hero-content">
    <div class="column medium-6 medium-offset-6">
      <blockquote>
        <p>The talks at DjangoCon US have always been of high quality. That’s why we send our devs every year. The insights gained have helped us build better software at PonyCorp.</p>
        <cite>Rory McHenry<br>
          Director, Application Development PonyCorp
        </cite>
      </blockquote>
      <a href="#TODO" class="button hollow theme-brand-color3">Join Rory. Buy your ticket</a>
    </div>
  </div>
</section>
