<ul
  class="tabs vertical"
  data-tabs data-deep-link="true"
  id="content-tabs">
    <li class="tabs-title is-active">
      <a href="#introduction">Introduction</a>
  </li>
  <li class="tabs-title">
    <a href="#branding-guidelines">Branding Guidelines</a>
  </li>
  <li class="tabs-title">
    <a href="#color-guide">Color guide</a>
  </li>
  <li class="tabs-title">
    <a href="#logo-files">Logo files</a>
  </li>
  {% comment %}
  <li class="tabs-title">
    <a href="#icons">Icons</a>
  </li>
  {% endcomment %}
  <li class="tabs-title">
    <a href="#themed-page-sections">Themed page sections</a>
  </li>
  <li class="tabs-title">
    <a href="#photo-hero-section">Photo hero section</a>
  </li>
  <li class="tabs-title">
    <a href="#profile-card">Profile card</a>
  </li>
</ul>
