<h1>Color guide</h1>
<ul class="colors">
  {% comment %}
    Primary Colors
  {% endcomment %}
  <li class="color theme-brand-color1">Brand Color 1<br/>#E99C56</li>
  <li class="color theme-brand-color2">Brand Color 2<br/>#430632</li>
  <li class="color theme-brand-color3">Brand Color 3<br/>#044059</li>
  <li class="color theme-brand-color4">Brand Color 4<br/>#A9CAD0</li>
  <li class="color theme-brand-color5">Brand Color 5<br/>#C73B3D</li>
  <li class="color theme-brand-color6">Brand Color 6<br/>#5F082B</li>

  {% comment %}
    Black, White, & Gray
  {% endcomment %}
  <li class="color theme-light-gray">Light Gray<br/>#F7F8F9</li>
  <li class="color theme-medium-gray">Medium Gray<br/>#E9E9E9</li>
  <li class="color theme-dark-gray">Dark Gray<br/>#CACACA</li>
  <li class="color theme-black">Black<br/>#191919</li>
</ul>
