<h1>Branding Guidelines</h1>
<p>The DjangoCon.us brand uses the official Django brand as a base. A case could be
  made for a designer to change the colors and positioning of the date and location
  from year-to-year. However, the goal with this logo is to highlight the casual,
  friendly, professional atmosphere of the conference and can be used for subsequent
  years with minimal alterations.</p>
<p><img class="styleguide-logo" src="https://djangocon.github.io/resources/us-2021/logos/black.svg" alt="DjangoCon US logo"></p>
<h3>Typefaces</h3>
<ul>
  <li><a href="https://fonts.google.com/specimen/Lilita+One">Lilita One</a> - Typeface for logo</li>
  <li><a href="https://fonts.google.com/specimen/Rubik">Rubik</a> - Used for headings</li>
  <li><a href="https://fonts.google.com/specimen/Karla">Karla</a> - Used in body copy throughout website</li>
</ul>
