<h1>Logo files</h1>
<p><a href="https://djangocon.github.io/resources/us-2021.zip">Download all brand files</a></p>
<div class="row logo-set-wrap">
  <section class="logo-set column small-6">
    <img src="https://djangocon.github.io/resources/us-2021/logos/black.svg" alt="DjangoCon US Logo in Black">
    <ul class="download-links">
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/black.svg" download>black.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/black.pdf" download>black.pdf</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/png/black.png" download>black.png</a></li>


      <li><a href="https://djangocon.github.io/resources/us-2021/logos/white.svg" download>white.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/png/white.png" download>white.png</a></li>

      <li><a href="https://djangocon.github.io/resources/us-2021/logos/blue.svg" download>blue.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/blue.svg" download>blue.pdf</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/png/blue.png" download>blue.png</a></li>
    </ul>
  </section>
  <section class="logo-set column small-6">
    <img src="https://djangocon.github.io/resources/us-2021/logos/mark/black.svg" alt="DjangoCon US Submark">
    <ul class="download-links">
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/black.svg" download>black.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/black.pdf" download>black.pdf</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/png/black.png" download>black.png</a></li>


      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/white.svg" download>white.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/png/white.png" download>white.png</a></li>

      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/blue.svg" download>blue.svg</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/blue.svg" download>blue.pdf</a></li>
      <li><a href="https://djangocon.github.io/resources/us-2021/logos/mark/png/blue.png" download>blue.png</a></li>
    </ul>
  </section>
</div>
