<h1>Color guide</h1>
<ul class="colors">
  {% comment %}
    Primary Colors
  {% endcomment %}
  <li class="color theme-brand-color1">Brand Color 1<br/>#0A51A4</li>
  <li class="color theme-brand-color2">Brand Color 2<br/>#703D76</li>
  <li class="color theme-brand-color3">Brand Color 3<br/>#F37741</li>
  <li class="color theme-brand-color4">Brand Color 4<br/>#171D2F</li>

  {% comment %}
    Secondary Colors
  {% endcomment %}
  <li class="color theme-brand-color5">Brand Color 5<br/>#A257AA</li>
  <li class="color theme-brand-color6">Brand Color 6<br/>#D19FDD</li>
  <li class="color theme-brand-color7">Brand Color 7<br/>#FBAECD</li>
  <li class="color theme-brand-color8">Brand Color 8<br/>#F7B07C</li>


  {% comment %}
    Black, White, & Gray
  {% endcomment %}
  <li class="color theme-light-gray">Light Gray<br/>#F7F8F9</li>
  <li class="color theme-medium-gray">Medium Gray<br/>#E9E9E9</li>
  <li class="color theme-dark-gray">Dark Gray<br/>#CACACA</li>
  <li class="color theme-black">Black<br/>#191919</li>
</ul>
