<section class="section-pad theme-brand-color1">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color1` applied.</p>
</section>
<section class="section-pad theme-brand-color3">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color2` applied.</p>
</section>
<section class="section-pad theme-brand-color2">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color3` applied.</p>
</section>
<section class="section-pad theme-brand-color4">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color4` applied.</p>
</section>
<section class="section-pad theme-brand-color5">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color5` applied.</p>
</section>
<section class="section-pad theme-brand-color6">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color6` applied.</p>
</section>
<section class="section-pad theme-brand-color7">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color7` applied.</p>
</section>
<section class="section-pad theme-brand-color8">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-brand-color8` applied.</p>
</section>
<section class="section-pad theme-light-gray">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-light-gray` applied.</p>
</section>
<section class="section-pad theme-medium-gray">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-medium-gray` applied.</p>
</section>
<section class="section-pad theme-dark-gray">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-dark-gray` applied.</p>
</section>
<section class="section-pad theme-black">
  <h2 class="text-center">Headline</h2>
  <p class="text-center">This section has `theme-black` applied.</p>
</section>
