{% if post.accepted == true and post.hidden != true %}

  {% if post.schedule-layout == 'full' %}
    <li>
      <article class="row hour-row">
        <div class="column medium-2">
          <time class="time">
            <local-time datetime="{{ post.date | date_to_xmlschema }}" month="short" day="numeric" hour="numeric" minute="numeric" time-zone-name="short">
              {{ post.date | date: "%b %d %l:%M %p %Z" }}
            </local-time>
            {% if post.end_date %}&ndash;
              <span class="muted">{{ post.end_date | date: "%l:%M %P" }}</span>
            {% endif %}
          </time>
        </div>
        <div class="column medium-10">
          <ul class="events">
            {% include schedule-session-full.html %}
          </ul>
        </div>
      </article>
    </li>
  {% else %}
    {% if post.talk_slot == 'full' %}
      <li>
        <article class="row hour-row">
          <div class="column medium-2">
            <time class="time">
              <local-time datetime="{{ post.date | date_to_xmlschema }}" month="short" day="numeric" hour="numeric" minute="numeric" time-zone-name="short">
                {{ post.date | date: "%b %d %l:%M %p %Z" }}
              </local-time>
              {% if post.end_date %}&ndash;
                <span class="muted">{{ post.end_date | date: "%l:%M %P" }}</span>
              {% endif %}
            </time>
          </div>
          <div class="column medium-10">
              <ul class="events">
                {% include schedule-session.html %}
              </ul>
          </div>
        </article>
      </li>
    {% else %}
    	{% capture slot %}{% cycle 'begin', 'end' %}{% endcapture %}

    	{% if slot == 'begin' %}
        <li>
          <article class="row hour-row">
            <div class="column medium-2">
              <time class="time">
                <local-time datetime="{{ post.date | date_to_xmlschema }}" month="short" day="numeric" hour="numeric" minute="numeric" time-zone-name="short">
                  {{ post.date | date: "%b %d %l:%M %p %Z" }}
                </local-time>
                {% if post.end_date %}&ndash;
                  <span class="muted">{{ post.end_date | date: "%l:%M %P" }}</span>
                {% endif %}
              </time>
            </div>
            <div class="column medium-10">
                <ul class="events">
    	{% endif %}

    	{% include schedule-session.html %}

    	{% if slot == 'end' %}
                </ul>
            </div>
          </article>
        </li>
    	{% endif %}
    {% endif %}
  {% endif %}

{% endif %}
