<div class="partner-footer section-pad">
  <h3 class="v-pad-bottom text-center">Sponsors</h3>
      <div class="row v-pad-top">
        <div class="medium-6 column medium-centered text-center">
        <p>Interested in becoming a sponsor? There's still time!</p>
        <a href="/sponsors/information/" class="button">Become a Sponsor</a>
      </div>
        </div>
  {% assign sponsors_by_level = "Platinum|Gold|Lanyard|Silver|Bronze|Diversity & Inclusion|Community" | split: "|" %}
  {% for level in sponsors_by_level %}
    {% assign sponsors_in_level = site.sponsors | where: 'level', level | where: 'hidden', false %}
    {% assign sponsors_count = sponsors_in_level | size %}
    {% if sponsors_count != 0 %}
    <h4 class="lead min text-center swatch-color-teal">{{ level }}</h4>
    <div class="row partner-list">
      {% for sponsor in sponsors_in_level %}
        {% unless sponsor.hidden %}
        <div class="partner-block text-center">
          <a href="{{ sponsor.url_target }}" rel="sponsored">
            <img
              class="partner-logo {{ sponsor.logo_orientation }}"
              src="{{ sponsor.logo }}"
              alt="{{ sponsor.name }} Logo" />
          </a>
        </div>
        {% endunless %}
      {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
</div>
