<div class="partner-footer section-pad">
  <h3 class="v-pad-bottom text-center">Sponsors</h3>
    <div class="row v-pad-top">
      <div class="medium-6 column medium-centered text-center">
        <p>Interested in becoming a sponsor? There's still time!</p>
        <a href="/sponsors/information/" class="button">Become a Sponsor</a>
      </div>
    </div>
  {% for sponsor-level in site.data.sponsor-levels.sponsor-levels %}
    {% assign sponsors_in_level = site.sponsors | where: 'level', sponsor-level.title | where: 'hidden', false %}
    {% assign sponsors_count = sponsors_in_level | size %}
    {% if sponsors_count != 0 %}
    <h4 class="lead min text-center swatch-color-teal">{{ sponsor-level.title }}</h4>
    <div class="row partner-list">
      {% for sponsor in sponsors_in_level %}
        {% unless sponsor.hidden %}
        <div class="partner-block text-center">
          <a href="{{ sponsor.url_target }}" rel="sponsored">
            <img
              class="partner-logo {{ sponsor.logo_orientation }}"
              src="{{ sponsor.logo }}"
              alt="{{ sponsor.name }} Logo" />
          </a>
        </div>
        {% endunless %}
      {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
</div>
