{% if include.post.abstract != blank %}{{ include.post.abstract }}
{% endif %}
This talk was presented at: {{ site.url }}{{ include.post.url }}

LINKS:{% if include.presenter_slugs %}{% for presenter_slug in post.presenter_slugs %}{% assign presenter = site.presenters | where: "slug", presenter_slug | first %}
Follow {{ presenter.name }} 👇
{% if presenter.twitter != blank %}On Twitter: https://twitter.com/{{ presenter.twitter }}
{% endif %}{% if presenter.github != blank %}On GitHub: https://github.com/{{ presenter.github }}
{% endif %}{% if presenter.website != blank %}Website: {{ presenter.website }}{% endif %}
{% endfor %}{% endif %}

Follow DjangCon US 👇
https://twitter.com/djangocon

Follow DEFNA 👇
https://twitter.com/defnado
https://www.defna.org/

Video production by the speaker and DjangoCon US 2021 Volunteers.
