.recap-header {
  padding-top: 3rem;
  background-image: url('/static/img/sunrise-sky.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin-bottom: 0;
  }

  h1:after {
    display: none;
  }

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


.recap-heading {
  margin: 0 auto 2rem;
  padding: .75rem;
  max-width: 46rem;
  background: $brand-color2;
  font-size: 2rem;
  text-align: center;
  color: #FFF;
}
