.subpage-header {
  position: relative;
  padding: 6rem 0 2rem;
  text-align: center;

  &.no-bottom {
    padding-bottom: 0;
  }
}

.subpage-header h1 {
  position: relative;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  max-width: 60rem;
}

.subpage-header h1:after {
  position: relative;
  bottom: -.8rem;
  left: calc(50% - 1.5rem);
  display: block;
  width: 3rem;
  height: 4px;
  background: $brand-color2;
  content: "";
}

.subpage-header a {
  text-decoration: none;
}

@include breakpoint(medium) {
  .subpage-header {
    padding-top: 4rem;
  }
}
