.full-crowd {
  position: relative;
  background-image: linear-gradient(to right, $brand-color8, $brand-color7);

  &:before,
  &:after {
    position: absolute;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
  }

  &:before {
    top: -4vw;
    // TODO: Remove
    //background-image: url('/static/img/full-crowd-top.svg');
  }

  &:after {
    bottom: -4vw;
    // TODO: Remove
    //background-image: url('/static/img/full-crowd-bottom.svg');
    background-position: bottom left -10px;
    background-size: 70% auto;
  }

  &-photo {
    display: block;
    margin: 0 auto;
    max-width: 94%;
  }
}
