.home-content {
  margin-top: -5px;
}

.header {
  position: relative;
  margin: 0 auto;
  padding: 6rem 0;
  background-color: $brand-color2;
  color: $white;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/city.svg);
    background-position: 0 100px;
    background-repeat: no-repeat;
    content: "";
    opacity: .3;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/hero-curve.svg);
    background-position: center bottom -16vw;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  .header-text {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  h1 {
    margin-bottom: 2.25rem;
  }

  .event-info-detail {
    margin-bottom: 1.5rem;
  }

  .button + .button {
    margin-left: .5rem;
  }

  @include breakpoint(720px) {
    h1 {
      max-width: 27rem;
    }
  }

  @include breakpoint(960px) {
    &:before {
      background-position: 0 160px;
      opacity: 1;
    }

    .header-text {
      margin-left: 540px;
    }
  }

  @include breakpoint(large) {
    padding-top: 3rem;
    padding-bottom: 12vw;
    min-height: 20rem;

    &:before {
      background-position: 0 0;
    }
  }
}
