.home-content {
  margin-top: -5px;
}

.header {
  margin: 0 auto;
  padding: 6rem 0 3rem;

  h1 {
    margin-bottom: 2.25rem;
    color: $body-font-color;
  }

  @include breakpoint(720px) {
    .header-text {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    h1 {
      max-width: 27rem;
    }
  }

  @include breakpoint(large) {
    padding-top: 3rem;
    min-height: 20rem;
  }
}

@include breakpoint(medium) {
  .header .header-text {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@include breakpoint(large) {

}
