/// Removes trailing space at the bottom of elements.
@mixin bottomless {
  & > *:last-child {
    margin-bottom: 0;
  }
}

.bottomless {
  @include bottomless;
}

.section-pad {
  position: relative;
  z-index: 0;

  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.v-pad-bottom {
  padding-bottom: 1rem;

  @include breakpoint(medium) {
    padding-bottom: 2rem;
  }
}

.v-pad-bottom-extra {
  padding-bottom: 4rem;

  @include breakpoint(medium) {
    padding-bottom: 8rem;
  }
}

.v-pad-top {
  padding-top: 1rem;

  @include breakpoint(medium) {
    padding-top: 2rem;
  }
}

// Ensure emoji in headers display correct, size wise
h1 img.emoji {
  width: 1em;
  height: 1em;
}
