.header {
  margin: 0 auto;
  padding: 6rem 0 3rem;
  max-width: 1800px;
  background-image: url('/static/img/boat.svg'), url('/static/img/sunrise.svg');
  background-position: bottom -2px right 20%, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 80px 80px, cover;

  h1 {
    color: $body-font-color;
  }

  @include breakpoint(large) {
    padding-top: 2rem;

    .header-text {
      padding-top: 3.5rem;
    }
  }
}

body.sunset .header {
  background-image: url('/static/img/boat.svg'), url('/static/img/sunset.svg');

  h1 {
    color: $white;
  }
}
