.profile {
  margin: 0 auto;
  padding: 20px;
  max-width: 360px;
}

.profile.wide {
  padding: 0;
  max-width: $global-width;
}

.profile-name {
  font-size: rem-calc(30);
}

.profile p {
  font-size: .9rem;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile .social-icons a {
  color: $brand-color1;

  svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }
}
