---
layout: base
---

<header class="header">
  <div class="row">
    <div class="header-text">
      <h1>Six days of talks, sprints, and tutorials in San Diego</h1>

      <div class="event-info-detail">
        <strong
          class="event-info-date">October 11-12 2020</strong>

        <span
          class="subheading event-info-location">
          San Diego Marriott of Mission Valley in
          <strong>San Diego, California</strong>
        </span>
      </div>

      <a class="button" href="{{ site.ticket_link }}">Buy Tickets</a>
        <a
          class="button"
          href="http://eepurl.com/bpvu2f">Join Mailing List</a>

      {% comment %}
        <a class="button" href="/schedule/">Conference Schedule</a>
        <a href="{{ site.cfp_application }}" class="button">Submit Talk</a>
      {% endcomment %}
    </div>
  </div>
</header>


<div class="home-content">

<section class="section-pad curve1 theme-brand-color3">
  <div class="row column xlarge-9">
    <p class="lead column large-9 large-centered text-center">Join us for a source of inspiration, education and networking opportunities. Our team is making sure that participating in DjangoCon US is easy for you!</p>

    <div class="date-card medium-4 column">
      <a href="/tutorials/">
        <div class="dates">
          <div class="month">October</div>
          <div class="days">11</div>
        </div>
        <div class="details">
          <h2 class="date-card-title">Tutorials</h2>
          <p>One day, numerous tutorials</p>
        </div>
      </a>
    </div>
    <div class="date-card medium-4 column">
      <a href="/talks/">
        <div class="dates">
          <div class="month">October</div>
          <div class="days">12-15</div>
        </div>
        <div class="details">
          <h2 class="date-card-title">Talks</h2>
          <p>Dozens of talks chosen by the community</p>
        </div>
      </a>
    </div>
    <div class="date-card medium-4 column">
      <a href="/sprints/">
        <div class="dates">
          <div class="month">October</div>
          <div class="days">16-17</div>
        </div>
        <div class="details">
          <h2 class="date-card-title">Sprints</h2>
          <p>Team up to work on Django!</p>
        </div>
      </a>
    </div>
  </div>
</section>

{% comment %}
<div class="photo-hero-inline tint-brand-color1">
  <img
    src="/static/img/attendees.jpg"
    alt="Attendees holding a sign for DjangoCon 2019"
     />
</div>
{% endcomment %}

<section class="section-pad">
  <div class="row column v-pad-bottom text-center">
    <h2>A conference with heart</h2>
  </div>
  <div class="row card-row">
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/hands-line.svg" | relative_url }}"
          alt="Two hands interlocked"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Thank you!</h3>
          <p>DjangoCon US 2020 was such a great year. Thanks to our presenters, sponsors, attendees, organizers, volunteers, and everyone who made it so amazing! See you next year!</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/program-line.svg" | relative_url }}"
          alt="A document with several lines of unreadable text"
          class="card-icon"
          />
        <div class="card-section">
            <h3 class="card-title">Videos Coming Soon</h3>
            <p>Check out the <a href="/schedule/">schedule page</a>; we'll post the links to the talk videos on the specific talk pages once the videos are up! </p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/heart-line.svg" | relative_url }}"
          alt="A heart"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Code of Conduct</h3>
          <p>Participants are expected to be respectful to each other. For details on our expectations, and who to contact if you need assistance, see our <strong><a href="/conduct/">Code of Conduct</a></strong>.</p>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="news-section section-pad theme-brand-color4 back">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in site.posts limit:12 %}
      {% unless post.hidden %}
      <article class="news-title medium-4 column">
        <div class="card {% if post.category == "Sponsorship" %}card-theme-brand-color3{% else %}card-theme-brand-color2{% endif %}">
          <div class="card-section">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button" href="/news/">Read More News</a>
    </div>
  </div>
</section>

{% include sponsor-footer.html %}

<div class="photo-hero-inline curve-top tint-brand-color1">
  <img
    src="/static/img/courtyard-crowd.jpg"
    alt="The crowd of DjangoCon 2019 attendees"
    loading="lazy"
     />
</div>

</div><!-- end .content -->
