---
layout: base
---

<header class="header">
  <div class="row">
    <div class="header-text">
      <h1>Join us for two days of talks</h1>

      <div class="event-info-detail">
        <strong
          class="event-info-date">October 22-23, 2021</strong>

        <span
          class="subheading event-info-location">
          <strong>Online</strong>
        </span>
      </div>

        <a
          class="button"
          href="{{ site.mailing_list }}">Join Mailing List</a>

      {% comment %}
        <a class="button" href="/schedule/">Conference Schedule</a>
        <a href="{{ site.cfp_application }}" class="button">Submit Talk</a>
      {% endcomment %}
    </div>
  </div>
</header>


<div class="home-content">

<section class="section-pad curve1 theme-brand-color3">
  <div class="row column xlarge-9">
    <p class="lead column large-9 large-centered text-center">Join us for a source of inspiration, education and networking opportunities. Our team is making sure that participating in DjangoCon US is easy for you!</p>

    {% comment %}
    <div class="date-card medium-4 column">
      <a href="/tutorials/">
        <div class="dates">
          <div class="month">October</div>
          <div class="days">21</div>
        </div>
        <div class="details">
          <h2 class="date-card-title">Tutorials</h2>
          <p>One day, numerous tutorials</p>
        </div>
      </a>
    </div>
    {% endcomment %}

    <div class="date-card medium-4 column">
      <a href="/talks/">
        <div class="dates">
          <div class="month">October</div>
          <div class="days">22-23</div>
        </div>
        <div class="details">
          <h2 class="date-card-title">Talks</h2>
          <p>Chosen by the community</p>
        </div>
      </a>
    </div>
  </div>
</section>

{% comment %}
<div class="photo-hero-inline tint-brand-color1">
  <img
    src="/static/img/attendees.jpg"
    alt="Attendees holding a sign for DjangoCon 2019"
     />
</div>
{% endcomment %}

<section class="section-pad">
  <div class="row column v-pad-bottom text-center">
    <h2>A conference with heart</h2>
  </div>
  <div class="row card-row">
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/megaphone.svg" | relative_url }}"
          alt="Talk"
          class="card-icon"
          />
        <div class="card-section">
            <h3 class="card-title">Talks</h3>
            <p>Check out the <strong><a href="/talks/">talks page</a></strong> for our talk schedule. We'll post video links on the specific talk pages once the videos are up.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/heart-line.svg" | relative_url }}"
          alt="A heart"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Code of Conduct</h3>
          <p>Participants are expected to be respectful to each other. For details on our expectations, and who to contact if you need assistance, see our <strong><a href="/conduct/">Code of Conduct</a></strong>.</p>
      </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/compass.svg" | relative_url }}"
          alt="Compass"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Join Our Mailing List</h3>
          <p>Please <strong><a href="{{ site.mailing_list }}">join our mailing list today</a></strong> and don't miss out on important info like ticket sales, schedule announcements, and more.</p>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/star.svg" | relative_url }}"
          alt="Star"
          class="card-icon"
          />
        <div class="card-section">
            <h3 class="card-title">Sponsor DjangoCon</h3>
            <p>Check out our <strong><a href="/sponsors/information/">sponsorship options</a></strong>! We'd love to have your company join the DjangoCon US team. </p>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</section>

<section class="news-section section-pad theme-brand-color4 back">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in site.posts limit:12 %}
      {% unless post.hidden %}
      <article class="news-title medium-4 column">
        <div class="card {% if post.category == "Sponsorship" %}card-theme-brand-color3{% else %}card-theme-brand-color2{% endif %}">
          <div class="card-section">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button" href="/news/">Read More News</a>
    </div>
  </div>
</section>

{% include sponsor-footer.html %}

<div class="photo-hero-inline curve-top tint-brand-color1">
  <img
    src="/static/img/courtyard-crowd.jpg"
    alt="The crowd of DjangoCon 2019 attendees"
    loading="lazy"
     />
</div>

</div><!-- end .content -->
