---
layout: base
---

<header class="subpage-header{% if page.post_photo_url %} has-post-photo{% endif %}">
  <time class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</time>
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="content subpage-content">
  <div class="row">
    <div class="column medium-10 medium-centered large-9 large-centered">

      {% if page.post_photo_url %}
        <img
          src="{{ page.post_photo_url }}"
          alt="{{ page.post_photo_alt }}"
          class="post-photo" />
      {% endif %}

    {{ content }}
    </div>
  </div>
</div><!-- end .content -->
